<div class="row">
  <div class="col-sm-12">
    <img style="max-height: 250px;" class="img-responsive img-thumbnail" src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/frying-pan-pizza-easy-recipe-collection.jpg"
      alt="">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>
      Recipe Name
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="btn-group">
      <button class="btn btn-success dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="">To Shoping List</a>
        </li>
        <li>
          <a href="">Edit</a>
        </li>
        <li>
          <a href="">Delete</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit laudantium tempore iure similique veniam veritatis itaque
      voluptate cumque expedita quas, hic repellat quis facilis. Sint facere voluptate corrupti tenetur impedit?</p>
  </div>
</div>